.full-quote {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

.full-quote h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 300px;
        color: #45a049;

    }

form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }

label {
        display: block;
        margin-bottom: 8px;
      }

textarea {
        width: 100%;
        height: 100px;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
      }

button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
  
button:hover {
        background-color: #45a049;
      }

.ser {
    padding-left: 20px;
}
